body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #EBF5FF;
}

.game-container {
    text-align: center;
}

#hud {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #fff;
}

.choice:hover {
    background-color: #fff;
    box-shadow: 0 0 10px #56A5EB, 0 0 20px #56A5EB;
}
button.correct {
    background-color: green !important;
    color:white;
}

button.incorrect {
    background-color: red !important;
    color:white;
}
#progressBar {
    background-color: #f3f3f3;
    border-radius: 5px;
    border: 2px solid #56A5EB; 
    height: 20px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    width: 0%;
    background-color: #56A5EB;
    transition: width 0.3s;
}
